<nav>
  <div class="site-title">
    <a href="/"><h1>some simple blog</h1> </a>
    <p>very simple web site using NodeJss</p>
  </div>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">about</a></li>
    <li><a href="/create">new blog</a></li>
  </ul>
</nav>
