<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple blog</title>
  </head>
  <body>
    <nav>
      <div class="site-title">
        <a href="/"><h1>some simple blog</h1> </a>
        <p>very simple web site using NodeJss</p>
      </div>
      <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/blogs/create">new blog</a></li>
      </ul>
    </nav>
    <div class="about content">
      <h2>about</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae
        reprehenderit et quos impedit molestias ipsum obcaecati? Sunt nam modi
        rem perspiciatis repudiandae libero corporis beatae quo, atque cumque.
        Pariatur, accusantium.
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam quos
        odio at, voluptate accusamus reiciendis, illum, repellendus perspiciatis
        quae aut soluta explicabo! Quos labore facere necessitatibus, ullam ut
        voluptatem r atione!
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia
        necessitatibus aliquid amet natus quos quia quibusdam debitis expedita
        dolores repellendus, inventore error fuga praesentium beatae cupiditate
        rerum. Excepturi, laudantium et.
      </p>
    </div>
  </body>
</html>
