<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple blog</title>
  </head>
  <body>
    <nav>
      <div class="site-title">
        <a href="/"><h1>some simple blog</h1> </a>
        <p>very simple web site using NodeJss</p>
      </div>
      <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/create">new blog</a></li>
      </ul>
    </nav>
    <div class="create-blog content">
      <form action="#">
        <label for="title"> Blog title</label>
        <input type="text" id="title" required />
        <label for="snippet">Blog snippet</label>
        <input type="text" id="snippet" required />
        <label for="body">Blog body</label>
        <input type="text" id="body" required />
      </form>
    </div>
  </body>
</html>
